@import './base.css';
body {
    min-height: 100vh;
    display: grid;
}

h1 {
    margin-block-end: var(--size-6);
    letter-spacing: var(--font-letterspacing-3);
}

h1,
h2 {
    letter-spacing: var(--font-letterspacing-2);
}

a,
p,
div,
span,
small,
button,
input,
textarea,
h3,
h4,
h5,
h6 {
    letter-spacing: var(--font-letterspacing-3);
}

.container {
    background: var(--surface-2);
    padding: var(--size-6) var(--size-fluid-6);
}

.container-inner {
    max-width: 1560px;
    margin-inline: auto;
}

.link-btn {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
}

.card {
    background: var(--surface-3);
    padding: var(--size-5) var(--size-7);
    border-radius: var(--size-3);
    box-shadow: var(--shadow-3);
}

form {
    display: grid;
    gap: var(--size-4);
}

.form-actions,
.card-actions {
    justify-self: right;
    display: flex;
    gap: var(--size-2);
}

button {
    border-radius: var(--size-2);
}

.primary {
    background-color: var(--blue-8);
}

.success {
    background-color: var(--green-8);
}

.danger {
    background-color: var(--red-8);
}

.card {
    display: grid;
    gap: var(--size-5);
}

.card-content {
    display: grid;
    gap: var(--size-4);
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--size-4);
}

.flex-between {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2);
    justify-content: space-between;
    align-items: center;
}

.flex-end {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2);
    justify-content: flex-end;
    align-items: center;
}

:empty {
    display: none;
}

.card small {
    max-inline-size: 100%;
}