@import './base.css';
body {
    min-height: 100vh;
    display: grid;
}

h1 {
    margin-block-end: var(--size-6);
    letter-spacing: var(--font-letterspacing-3);
}

h1,
h2 {
    letter-spacing: var(--font-letterspacing-2);
}

a,
p,
div,
span,
small,
button,
input,
textarea,
h3,
h4,
h5,
h6 {
    letter-spacing: var(--font-letterspacing-3);
}

.container {
    background: var(--surface-2);
    padding: var(--size-6) var(--size-fluid-6);
}

.card,
form {
    background: var(--surface-3);
    padding: var(--size-5) var(--size-7);
    border-radius: var(--size-3);
    box-shadow: var(--shadow-3);
}

form {
    display: grid;
    gap: var(--size-4);
}

form:focus-within {
    background: var(--gradient-23);
}

.form-actions,
.card-actions {
    justify-self: right;
    display: flex;
    gap: var(--size-2);
}

button {
    border-radius: var(--size-2);
}

.primary {
    background-color: var(--blue-8);
}

.success {
    background-color: var(--green-8);
}

.danger {
    background-color: var(--red-8);
}